.Payment {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0px;
}

.Payment-content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #121f3d;
}

.Payment-back {
  margin: 10px 0 0 0;
}

.Payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Payment-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.Payment-item button {
  background-color: transparent;
  border: none;
  outline: none;
}

.Payment-element {
  display: grid;
  grid-template-columns: 40% 15% 10% 15%; 
  grid-gap: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.Payment-element h4 {
  font-size: 18px;
  margin: 0;
}

.Payment-element span {
  font-size: 18px;
  margin: 0;
}

.Payment-button {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .Payment {
    width: 600px;
  }

  .Payment-element {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .Payment {
    width: 700px;
  }
}